@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: IBM Plex Mono, ui-monospace, monospace;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --font-serif: IBM Plex Mono, ui-monospace, monospace;
    --radius: 0rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.5053 0.243 298.0161);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8409 0.0164 310.0753);
    --secondary-foreground: oklch(0.3885 0.0281 304.9571);
    --muted: oklch(0.8503 0.0199 302.1577);
    --muted-foreground: oklch(0.4859 0.0222 309.5432);
    --accent: oklch(0.7584 0.1118 295.389);
    --accent-foreground: oklch(0.3521 0.119 308.9115);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8069 0.0179 308.2147);
    --input: oklch(0.8069 0.0179 308.2147);
    --ring: oklch(0.5053 0.243 298.0161);
    --chart-1: oklch(0.5053 0.243 298.0161);
    --chart-2: oklch(0.4765 0.2117 303.1861);
    --chart-3: oklch(0.4507 0.1854 307.1346);
    --chart-4: oklch(0.4034 0.1531 309.4465);
    --chart-5: oklch(0.3521 0.119 308.9115);
    --radius: 0rem;
    --sidebar: oklch(0.9354 0.0485 318.5473);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.5053 0.243 298.0161);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.7584 0.1118 295.389);
    --sidebar-accent-foreground: oklch(0.3521 0.119 308.9115);
    --sidebar-border: oklch(0.8069 0.0179 308.2147);
    --sidebar-ring: oklch(0.5053 0.243 298.0161);
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.21;
    --shadow-blur: 15px;
    --shadow-spread: -0.5px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 15px -0.5px hsl(0 0% 0% / 0.1);
    --shadow-xs: 0 1px 15px -0.5px hsl(0 0% 0% / 0.1);
    --shadow-sm:
        0 1px 15px -0.5px hsl(0 0% 0% / 0.21),
        0 1px 2px -1.5px hsl(0 0% 0% / 0.21);
    --shadow:
        0 1px 15px -0.5px hsl(0 0% 0% / 0.21),
        0 1px 2px -1.5px hsl(0 0% 0% / 0.21);
    --shadow-md:
        0 1px 15px -0.5px hsl(0 0% 0% / 0.21),
        0 2px 4px -1.5px hsl(0 0% 0% / 0.21);
    --shadow-lg:
        0 1px 15px -0.5px hsl(0 0% 0% / 0.21),
        0 4px 6px -1.5px hsl(0 0% 0% / 0.21);
    --shadow-xl:
        0 1px 15px -0.5px hsl(0 0% 0% / 0.21),
        0 8px 10px -1.5px hsl(0 0% 0% / 0.21);
    --shadow-2xl: 0 1px 15px -0.5px hsl(0 0% 0% / 0.53);
    --tracking-normal: 0em;
    --font-sans: IBM Plex Mono, ui-monospace, monospace;
    --font-serif: IBM Plex Mono, ui-monospace, monospace;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
}

.dark {
    --background: oklch(0.2046 0 0);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.2686 0 0);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.5053 0.243 298.0161);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.558 0.288 302.321);
    --accent-foreground: oklch(0.827 0.119 306.383);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.3715 0 0);
    --ring: oklch(0.5053 0.243 298.0161);
    --chart-1: oklch(0.558 0.288 302.321);
    --chart-2: oklch(0.714 0.203 305.504);
    --chart-3: oklch(0.591 0.293 322.896);
    --chart-4: oklch(0.4507 0.1854 307.1346);
    --chart-5: oklch(0.4034 0.1531 309.4465);
    --radius: 0rem;
    --sidebar: oklch(0.2046 0 0);
    --sidebar-foreground: oklch(0.9219 0 0);
    --sidebar-primary: oklch(0.5053 0.243 298.0161);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.5667 0.2941 302.9919);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.5053 0.243 298.0161);
    --shadow-color: oklch(0.558 0.288 302.321);
    --shadow-opacity: 0.21;
    --shadow-blur: 15px;
    --shadow-spread: -0.5px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 15px -0.5px hsl(274.9126 96.1037% 52.1544% / 0.1);
    --shadow-xs: 0 1px 15px -0.5px hsl(274.9126 96.1037% 52.1544% / 0.1);
    --shadow-sm:
        0 1px 15px -0.5px hsl(274.9126 96.1037% 52.1544% / 0.21),
        0 1px 2px -1.5px hsl(274.9126 96.1037% 52.1544% / 0.21);
    --shadow:
        0 1px 15px -0.5px hsl(274.9126 96.1037% 52.1544% / 0.21),
        0 1px 2px -1.5px hsl(274.9126 96.1037% 52.1544% / 0.21);
    --shadow-md:
        0 1px 15px -0.5px hsl(274.9126 96.1037% 52.1544% / 0.21),
        0 2px 4px -1.5px hsl(274.9126 96.1037% 52.1544% / 0.21);
    --shadow-lg:
        0 1px 15px -0.5px hsl(274.9126 96.1037% 52.1544% / 0.21),
        0 4px 6px -1.5px hsl(274.9126 96.1037% 52.1544% / 0.21);
    --shadow-xl:
        0 1px 15px -0.5px hsl(274.9126 96.1037% 52.1544% / 0.21),
        0 8px 10px -1.5px hsl(274.9126 96.1037% 52.1544% / 0.21);
    --shadow-2xl: 0 1px 15px -0.5px hsl(274.9126 96.1037% 52.1544% / 0.53);
    --font-sans: IBM Plex Mono, ui-monospace, monospace;
    --font-serif: IBM Plex Mono, ui-monospace, monospace;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}
